.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #1E392a;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #E9C893;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    font-size: 25px;
    color: white;
  }

  #main {
    transition: margin-left .5s;
    /* padding: 16px; */
    margin-left: 160px;
  }

 #openbtn {
    padding: 8px 8px 8px 16px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
  }
  
 #openbtn:hover {
    color: #E9C893;
  }

 #divTextNav{
    width: 230px ;
    margin: 0;
 }

 .card{
  padding: 8px 8px 8px 8px;

 }

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

#divEditarF {
  width: 58%;
}

.eye1 {
    background-color: rgb(206, 206, 206);
    padding: 0.45em;
}

i {
    color: black;
}

.alert {
    width: 600px;
}

#divArch {
  margin-top: 4%; 
  background-color: #f0f0f0;
  margin-left: 0.1%;
  border-radius: 8px; 
  -moz-border-radius: 8px;
  width: 155%;
}

